<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SavePhuLuc</servlet-name>
        <servlet-class>com.qlhs.servlet.SavePhuLuc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveManyPL</servlet-name>
        <servlet-class>com.qlhs.servlet.SaveManyPL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePhuLuc</servlet-name>
        <url-pattern>/SavePhuLuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveManyPL</servlet-name>
        <url-pattern>/SaveManyPL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
